<div class="contacts">
  <div *ngIf="!contacts?.length" class="empty-table-message">
    There are no items yet..
  </div>
  <table *ngIf="contacts?.length">
    <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Email</td>
      <td>Name</td>
      <td></td>
    </tr>
    </thead>
    <hr>
    <tbody>
    <tr *ngFor="let contact of contacts">
      <td>
        <i (click)="toggleFavorite(contact)"
           [class.is-favorite]="contact.isFavorite"
           [title]="contact.isFavorite ? 'Remove from favorites' : 'Add to favorites'"
           class="fa fa-star"></i>
      </td>
      <td>{{contact.id}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.name}}</td>
      <td>
        <i (click)="delete(contact)" class="fa fa-trash remove-icon" title="Delete"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
