:host {
  height: 100%;
  width: 100%
}

.contacts {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 50px;
}

.is-favorite {
  color: #ff8a10;
}

.remove-icon {
  cursor: pointer;
  color: var(--error);
  margin: auto 0 auto auto;
}

hr {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  color: #cccccc;
}
