:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  .overlay {
    background: #0C3864;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .modal {
    position: absolute;
    width: 600px;
    padding: 100px 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    display: flex;

    .close-modal {
      position: absolute;
      right: 25px;
      top: 25px;
      font-size: 30px;
      color: var(--main-blue);
      cursor: pointer;
    }

    .submit-form-button {
      margin-top: 50px;
    }
  }
}
