form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-error-message {
    width: 100%;
    min-height: 50px;

    > p {
      width: 100%;
      margin: auto 0;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      color: var(--error);
    }
  }

  .row {
    display: flex;
    width: 100%;
  }

  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .errors {
      height: 25px;
      width: 100%;
      display: flex;

      > p {
        width: 100%;
        margin: auto 0;
        font-size: 14px;
        text-align: right;
        font-weight: bold;
        color: var(--error);
      }
    }
  }

  label {
    color: var(--main-blue);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type='text'] {
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;

    &.has-error {
      border: 1px solid var(--error);
    }
  }

  input[type='password'] {
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 10px 15px;
    outline: none;

    &.has-error {
      border: 1px solid var(--error);
    }
  }

}
