html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Corbel', 'Arial', monospace;
}

*:before, *:after {
  box-sizing: border-box;
}

.text-underline {
  text-decoration: underline;
}
