table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  thead {
    width: 100%;
    display: flex;

    tr {
      width: 100%;
      display: flex;

      td {
        width: 100%;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        color: var(--main-blue);
        padding: 5px;

        &:first-child {
          max-width: 50px;
          width: 100%;
        }

        &:nth-child(2) {
          max-width: 125px;
          width: 100%;
        }
      }
    }
  }

  tbody {
    width: 100%;
    height: 100%;

    tr {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #ccc;

      td {
        width: 100%;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        color: #575757;
        padding: 10px;
        vertical-align: center;
        text-align: left;

        &:first-child {
          max-width: 50px;
          width: 100%;

          i {
            cursor: pointer;
            margin: auto;
          }
        }

        &:nth-child(2) {
          max-width: 125px;
          width: 100%;
        }

        &:nth-child(4) {
          text-transform: capitalize;
        }
      }
    }
  }


}

.empty-table-message {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-blue);
}
